#Exclude everything
*

#Include files
#Git configurations
!.gitignore
!.gitconfig

#Fish configurations
!.config/fish/config.fish
!.config/fish/completions/brew.fish

#Bash configurations
!.bash_profile

